body {
    overflow-x: hidden;
    max-width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:  rgb(255, 255, 255);;
    overflow: hidden !important;

  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    margin: 0;
    font-size: 20px;
    color: red;
  }

  .thumbnails-container {
    overflow-x: hidden;
    background-color: #000000;
  }
  
  .thumbnails {
    white-space: nowrap !important;

    top: 100;
    left: 100;
    z-index: 21;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;

    display: inline-block;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 10px;
    padding: 15px;
  }
  
  .thumbnails img {
    filter: grayscale(100%);
    margin-top: 20em;
    margin-bottom: 30em;
    width: 10em;
    height: 30em;
    border: 0px solid #fff;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .image {
    scroll-snap-align: center;
    transition: transform 0.5s;
  }
  

  .image.left5 {

    transform: skew(+20deg, 0) scale(1.2);
    filter: none;
    transition: transform 0.5s;


  }

  .image.left4 {

    transform: skew(+15deg, 0) scale(1.2);
    filter: none;
    transition: transform 0.4s;


  }

  .image.left3 {

    transform: skew(+10deg, 0) scale(1.2);
    filter: none;
    transition: transform 0.3s;


  }

  .image.left2 {

    transform: scaleX(-1) scale(1.2);
    filter: none;
    transition: transform 0.2s;


  }

  .image.left1 {
    transform: scaleX(-1) scale(1.2);
    filter: none;
    transition: transform 0.1s;


  }

  .image.middle {
    transform: scale(1.2);
    filter: none;
  }

  .image.right1 {

    transform: scaleX(-1) scale(1.2);
    filter: none;
    transition: transform 0.1s;

  }

  .image.right2 {

    transform: scaleX(-1) scale(1.2);
    filter: none;
    transition: transform 0.2s;


  }

  .image.right3 {

    transform: skew(-10deg, 0) scale(1.2);
    filter: none;
    transition: transform 0.3s;

  }

  .image.right4 {
    transform: skew(-15deg, 0) scale(1.2);
    filter: none;
    transition: transform 0.4s;

  }

  .image.right5 {
    transform: skew(-20deg, 0) scale(1.2);
    filter: none;
    transition: transform 0.5s;

  }


  .thumbnails img:hover {
    filter: none;
    transform: scale(1.1);
  } 
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
  }
  
  #overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 20px;
    overflow: auto;
    
  }
  
  #overlay-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    
  }
  